<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>seis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="alert"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="eye"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
