<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi Primera APP</ion-title>    
    <ion-buttons slot="end">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Listado de S.O.</h1>
  <ion-list>
    <ion-list-header color="primary">
      <ion-label>Sistemas Operativos</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Windows</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Linux</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mac Os</ion-label>
    </ion-item>
  </ion-list>
  <br>
  <hr>
  <h1>Botones</h1>
  <ion-button>Aceptar</ion-button>
  <ion-button expand="block">Aceptar</ion-button>
  <ion-button shape="round">Aceptar</ion-button>
  <ion-button fill="outline">Aceptar</ion-button>  
  <ion-button size="small">Aceptar</ion-button>
  <ion-button size="large">Aceptar</ion-button>

  <ion-button>
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>
  <ion-button>
    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
  </ion-button>

  <ion-button>
    <ion-icon slot="start" name="trash"></ion-icon>
    Eliminar
  </ion-button>
  <ion-button>
    <ion-icon slot="end" name="add-circle"></ion-icon>
    Agregar
  </ion-button>
<!--
  https://ionic.io/ionicons
-->

<ion-button color="success">Aceptar</ion-button>
<ion-button color="warning">Aceptar</ion-button>
<ion-button color="dark">Aceptar</ion-button>
<ion-button color="danger">Aceptar</ion-button>
<ion-button color="tertiary">Aceptar</ion-button>
<ion-button color="medium">Aceptar</ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer de la pagina/app</ion-title>  
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>