<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listado de Usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="quinta"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="danger" *ngIf="!personas.length">
    <h1>No hay datos registrados</h1>
  </ion-text>
    <h1>Ejercicio X</h1>
  <h2>agregar click para ver todos los datos en la pagina quinta</h2>
  <ion-list *ngFor="let persona of personas" [routerLink]="['/quinta/' + persona.rut]">
    <ion-item>
      <ion-label>{{persona.rut}}</ion-label>
      <ion-label>{{persona.nombre}}</ion-label>
      <ion-label>{{persona.direccion}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
