<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sexta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- mostrar los datos recibidos en la pagina html -->
  <ion-button (click)="listar()">
    <ion-icon slot="icon-only" name="list-circle-outline"></ion-icon>
  </ion-button>
  <ion-list *ngFor="let usuario of usuarios">
    <ion-item>
      <ion-label>{{usuario.name}}</ion-label>
    </ion-item>
  </ion-list>
  /*
  Ejercicio 16: Desplegar los post del usuario seleccionado
*/
</ion-content>
