<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cinco</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="mostrarAlerta">
    <ion-icon slot="icon-only" name="alert"></ion-icon>
    Alerta
  </ion-button>
  <ion-alert trigger="mostrarAlerta"
              header="Ejemplo de Alerta"
              subHeader="SubTitulo"
              message="Ejemplo de alerta con ionic"
              [buttons]="['Aceptar']"
  ></ion-alert>

  <ion-button (click)="alerta()" expand="block" shape="round">
    Alerta con AlertController
  </ion-button>

  <ion-button (click)="incrementar()">
    <ion-icon slot="icon-only" name="add"></ion-icon>
    Incremento
  </ion-button>
  <ion-text color="success">
    <h1>Ha presionado {{numero}} veces el botón</h1>
  </ion-text>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>