<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Menú Principal</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-button [routerLink]="['/uno']" expand="block" shape="round">
        Botones
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button [routerLink]="['/dos']" expand="block" shape="round">
        Página en blanco
      </ion-button>
    </ion-item>

    <ion-item>
      <a href="/tres">Inputs</a>
    </ion-item>
    <ion-item>
      <a href="/cuatro">Cards</a>
    </ion-item>
    <ion-item>
      <ion-button [routerLink]="['/cinco']" size="large">
        <!-- https://ionic.io/ionicons -->
        <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
        Alertas
      </ion-button>
    </ion-item>
    <ion-item>
      <a href="/seis">Propiedades y muestra de datos</a>
    </ion-item>
    <ion-item>
      <a href="/siete">fab y captura de datos</a>
    </ion-item>
  </ion-list>
</ion-content>
