<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <input type="number" [(ngModel)]="numero1"><br>
  <ion-button (click)="abrirSegundaPagina()">
    <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
    Navigate
  </ion-button>
  <ion-button (click)="abrirSegundaPagina2()">
    <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
    Navigate by Url
  </ion-button>
  <ion-button (click)="abrirSegundaPagina3()">
    <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
    Navigate enviar valor por parametro
  </ion-button>

  <h1>Envio de valor vía URL</h1>
  <a href="/segunda/2000">Enviar valor a segunda</a>

  <br>
  <h1>Uso de Storage</h1>
  <a href="/cuarta">Agregar datos al storage-angular</a>
  
  <h1>Uso de Storage y Service</h1>
  <a href="/quinta">Ejemplo CRUD</a>
</ion-content>
